.blogPage {
	background-color: #f6f6f7;
	&__title {
		padding-top: 140px;
		@include _fz100;
	}
	&-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__more-reading {
			font-weight: bold;
			font-size: 44px;
			line-height: 130%;
			@include _fz44;
			color: $orange;
		}
	}
	&-list {
		display: flex;
		grid-gap: 20px;
		margin-top: 20px;
		cursor: pointer;
		justify-content: flex-start;
		flex-wrap: wrap;
		@include _fz20;
		line-height: 150%;
		&__item {
			&:hover {
				color: $orange;
			}
		}
	}
	&__link {
		display: flex;
		align-items: center;
		grid-gap: 20px;
		transform: translate(0, 0);
		justify-content: center;
		margin-top: 80px;
		svg {
			transform: rotate(90deg);
		}
		@include _568 {
			position: static;
			margin-top: 94px;
			p {
				font-size: 24px;
			}
			svg {
				width: 30px;
				height: 16.7px;
			}
		}
	}
	&__wrapper {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		grid-gap: 40px;
		@include _400 {
			margin-top: 10px;
		}
	}
	&-news {
		background-color: $white;
		display: flex;
		padding-left: 70px;
		position: relative;
		transition: all 1s;
		&:hover {
			box-shadow: 0px 4px 40px rgba(35, 31, 32, 0.14);
		}
		@include _1200 {
			flex-direction: column;
			padding-left: 35px;
			padding-top: 10px;
			height: 400px;
		}
		@include _1024 {
			height: 500px;
		}
		@include _768 {
			height: auto;
			grid-gap: 10px;
			padding: 20px 16px;
		}
		@include _400 {
			width: 328px;
		}
		&-right {
			display: flex;
			flex-direction: column;
			grid-gap: 10px;
			width: 500px;
			margin-top: 50px;
			@include _1200 {
				width: 50%;
				margin: 0;
			}
			@include _568 {
				width: auto;
			}
		}
		&__description {
			font-size: 20px;
			@include _fz20;
			line-height: 150%;
			opacity: 0.75;
			order: 2;
			margin: auto auto auto 41px;
			width: 500px;
			@include _1600 {
				margin-left: 20px;
			}
			@include _1400 {
				margin-left: 10px;
			}
			@include _1200 {
				margin: 0;
				width: 50%;
			}
			@include _1024 {
				margin-top: 20px;
			}
			@include _568 {
				font-size: 13px;
				order: 3;
				width: auto;
				margin: 0;
			}
		}
		&__img {
			max-width: 485px;
			width: 100%;
			order: 3;
			@include _1200 {
				position: absolute;
				right: 0;
				width: 50%;
			}
			@include _568 {
				position: static;
				width: 100%;
			}
		}
		&__headline {
			z-index: 1;
			font-size: 38px;
			@include _fz38;
			line-height: 130%;
			font-weight: 500;
		}
		&__date {
			font-weight: normal;
			opacity: 0.35;
			@include _fz20;
			line-height: 140%;
		}
		&__development {
			color: $orange;
			position: absolute;
			bottom: 30px;
			@include _fz20;
			line-height: 150%;
			@include _768 {
				right: 0;
				transform: translateX(-30px);
			}
			@include _568 {
				position: static;
				order: 4;
				transform: translate(0);
				position: static;
			}
		}
	}
}
