.port-developed {
	background: #1a365e;
	overflow: hidden;
	margin-top: -20px;
	@include _768 {
		margin-top: -34px;
	}
	&__list {
		display: flex;
		flex-direction: column;
		grid-gap: 90px;
		@include _768 {
			grid-gap: 70px;
		}
		&-title {
			color: $white;
			font-weight: normal;
			max-width: 990px;
			@include _fz30;
			line-height: 130%;
		}
		&-subtitle {
			opacity: 0.75;
			color: $white;
			max-width: 990px;
			margin-top: 10px;
			@include _fz20;
			line-height: 150%;
		}

		&-item {
			background-color: #1c3b69;
			padding: 60px 150px 66px 100px;
			width: max-content;
			&:nth-child(2) {
				align-self: flex-end;
			}
			@include _1400 {
				width: 90%;
			}
			@include _768 {
				width: 100%;
				padding: 60px 100px;
			}
			@include _568 {
				padding: 60px 50px;
			}
			@include _400 {
				padding: 60px 12px 60px 20px;
			}
		}
	}
}
