.partner-group {
	padding-top: 150px;
	padding-bottom: 85px;
	background-color: $bgcBlog;
	@include _pt140;
	@include _768 {
		position: relative;
	}
	.partner__group {
		@include _768 {
			padding-top: 40px;
			padding-bottom: 80px;
		}
		&-title {
			@include _fz100;
		}
		&-top {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-btn {
			@include _768 {
				position: absolute;
				bottom: 40px;
				left: 10%;
				max-width: 70%;
			}
		}
		&-lists {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-top: 80px;
			@include _1200 {
				flex-wrap: wrap;
				margin-top: 20px;
				justify-content: space-between;
				padding-bottom: 30px;
			}
		}
		&-item {
			@include _568 {
				margin-bottom: 20px;
			}
		}
	}
}
