/**
 * Variables
*/

$orange: #ff8800;
$white: #ffffff;
$black: #181d27;
$blue: #007eff;
$btnColorOrangeHBA: #ffa53f;
$btnColorOrangeBefore: #ff961f;
$btnColorOrangeAfter: #ef7f00;
$btnColorBlueHB: #3c9cff;
$btnColorBlueHA: #0070e3;
$btnColorBlackHBA: #1a1e26;
$btnColorBlackAfter: #141821;
$footerBorderCity: rgba(255, 255, 255, 0.25);
$bgcFooter: #181d27;
$bgcBottomFooter: #141821;
$bgcBlog: #f6f6f7;
$bgcAcademy: #110c07;
$btnBlueHover: #5eaeff;
$textColorArtServCareer: #181d27;
$yellow: #ffd300;
$red: #e50328;
