.header {
	position: fixed;
	width: 100%;
	background-color: $white;
	z-index: 900;
	&-container {
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__wrapper {
		display: flex;
		grid-gap: 90px;
		@include _1600 {
			grid-gap: 80px;
		}
		@include _1400 {
			grid-gap: 60px;
		}
		@include _1200 {
			grid-gap: 40px;
		}
		@include _768 {
			grid-gap: 20px;
		}
		@include _568 {
			grid-gap: 0;
		}
	}
	&-list {
		display: flex;
		grid-gap: 70px;
		@include _1600 {
			grid-gap: 50px;
		}
		@include _1400 {
			grid-gap: 50px;
		}
		@include _1200 {
			grid-gap: 40px;
		}
		@include _1024 {
			grid-gap: 30px;
		}
		@include _768 {
			display: none;
		}
		&__link {
			font-weight: 300;
			font-size: 20px;
			line-height: 120%;
			color: $black;
			transition: all 0.8s;
			&:hover {
				background-color: $bgcBlog;
			}
			&:active {
				background-color: $orange;
			}
		}
	}
	&__phone {
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		font-weight: bold;
		color: $black;
		@include _1024 {
			display: none;
		}
	}
	&__link {
		&-logo {
			svg {
				@include _768 {
					transform: scale(0.8625);
				}
				@include _400 {
					transform: scale(0.725);
				}
			}
		}
	}
	&-menu {
		cursor: pointer;
		display: flex;
		grid-gap: 10px;
		align-items: center;
		&:hover {
			.header-menu__text {
				color: #ffa53f;
			}
			.header-menu__gamburger-line1,
			.header-menu__gamburger-line2 {
				background-color: #ffa53f;
			}
		}
		&__text {
			color: $orange;
			font-size: 18px;
			font-weight: 500;
			line-height: 22px;
			@include _1024 {
				font-size: 17px;
			}
			@include _400 {
				font-size: 16px;
			}
		}
		&.active {
			.header-menu__gamburger-line1 {
				transform: rotate(-30deg);
				width: 70px;
			}
			.header-menu__gamburger-line2 {
				transform: rotate(30deg);
				width: 70px;
			}
		}
		&__gamburger {
			&-line1 {
				width: 70px;
				height: 4px;
				background-color: $orange;
				transition: all 0.7s;
				@include _400 {
					width: 41px;
				}
			}
			&-line2 {
				margin-top: 5px;
				width: 40px;
				height: 4px;
				background-color: $orange;
				transition: all 0.7s;
				@include _400 {
					width: 23.43px;
				}
			}
		}
	}
}
